<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headMeta}}
  </head>
  <body onload=intialize()>
    <!-- NAVBAR -->
    {{>navbar}}
    <!-- HEADER SECTION-->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-8 col-12 mx-auto">
          {{!-- SEARCH BAR --}}
          <div class="main_content">
            <form class="temp_form" id="locationField">
              <input type="text" id="cityName" autocomplete="off" placeholder="Search your City" onFocus="geolocate()">
              <input type="submit" value="Search" id="submitBtn">
            </form>
          </div>
          {{!-- WEATHER INFO --}}
          <div class="tempInformation">
            <div class="top_layer">
              <p id= "day">Tuesday </p>
              <p id= "today_date">13 OCT</p>
            </div>
            <div class="main_layer">
              <p id="city_name">Get Output Here</p>
              <div class="middle_layer data_hide">
                <p id="temp"></p>
                <p id="temp_status"> <i class="fas fa-cloud" aria-hidden="true"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FOOTER SECTION-->
    {{>footer}}
  </body>
  <script src="js/index.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
        var autocomplete;
        function initialize() {
        autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'), { types: ['(cities)'], componentRestrictions : { country: 'in' }});
        }
    </script>
</html>
